[Unit]
Description=drone video wall collector
After=network.target

[Service]
ExecStart=/usr/bin/gst-launch-1.0 videomixer name=mix sink_0::xpos=0 sink_0::ypos=0 sink_1::xpos=704 sink_1::ypos=0 sink_2::xpos=0 sink_2::ypos=288 sink_3::xpos=704 sink_3::ypos=288 ! videoconvert ! avenc_h264_omx ! h264parse config-interval=-1 ! splitmuxsink muxer=matroskamux max-size-time=15000000000 max-files=5 location=\"/home/pi/infobeamer-tb/toolbox/3dprinter/media/drone_%d.mkv\" urisourcebin uri=\"rtsp://drone.tbbs.me:554/user=admin&password=&channel=1&stream=0.sdp?real_stream--rtp-caching=100\" ! decodebin ! mix. urisourcebin uri=\"rtsp://drone.tbbs.me:554/user=admin&password=&channel=2&stream=0.sdp?real_stream--rtp-caching=100\" ! decodebin ! mix. urisourcebin uri=\"rtsp://drone.tbbs.me:554/user=admin&password=&channel=3&stream=0.sdp?real_stream--rtp-caching=100\" ! decodebin ! mix. urisourcebin uri=\"rtsp://drone.tbbs.me:554/user=admin&password=&channel=4&stream=0.sdp?real_stream--rtp-caching=100\" ! decodebin ! mix.
Type=simple
Restart=always

[Install]
WantedBy=info-beamer.service

