[Unit]
Description=info beamer        
After=network.target

[Service]
ExecStart=/home/pi/info-beamer /home/pi/infobeamer-tb/toolbox
Type=forking
Restart=always

[Install]
WantedBy=default.target

